#loading-icon {
  display: none;
}

#content-url {
  display: none;
  padding: 3px;
}

video {
  width: 320px;
  height: 180px;
  background-color: #000000;
  margin: 0px;
  z-index: -100;
  left: 0px;
  top: 0px;
}

body {
  color: #000000;
  background-color: #d0d0d0;
  text-align: center;
}

.content-list {
  margin: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
}
